.jumbotron {
    color: white;
    text-align: center;
    margin: 10px;
}

#sidebar h2 {
    margin: 10px;
    padding: 0px;
}

#city-search {
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

#search-btn {
    color: white;
    margin-bottom: 30px;
}

.all-btn {
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px black solid;
}

.city-btn {
    background-color: gray;
}

.current-forecast {
    margin: 10px;
    padding: 10px;
    border: 3px black solid;
}

.all-btn:hover {
    cursor: pointer;
}

.card {
    margin: 10px;
    max-width: 20%;
    padding: 5px;
}

#right-now {
    text-decoration: underline;
}